.battery {
    display: flex;
    flex-direction: row;
    width: 40rem;
    height: 20rem;
    border: .2rem solid black;
}

.cell {
    width: 10rem;
    height: 20rem;
    border: .1rem solid black;
    background-color: grey;
}

.charging {
    background-color: rgb(229, 67, 67);
}